@keyframes marqueeLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

.marquee-left {
  animation: marqueeLeft 40s linear infinite;
}

.marquee-left:hover {
  animation-play-state: paused;
}

.marquee-right {
  animation: marqueeRight 40s linear infinite;
}

.marquee-right:hover {
  animation-play-state: paused;
}
